@import "../utils/box-shadow.scss";
@import "../utils/linear-gradient.scss";
.explorer{
    text-align: center;


& h2{
   
    font-size: 2rem;
}
& p{
    font-size: 1rem;
}
& button{
    color: white;
    font-weight: 300;
    font-size: 1.5rem;
    padding: 1rem 2rem;
    border: none;
    border-radius: 2rem;
    transition: transform 200ms;
    margin-top: 1rem;
    cursor: pointer;
    @include base-shadow;
    @include gradient(0.9);
}
& button:hover{
    transform: scale(1.02);
    opacity: 0.9;
}
}
.load{
    $animation-time: 3s;
    position: fixed;
    display: grid;
    place-items: center;
    background-color: #ffffff;
    height: 100vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    opacity: 0.9;
    animation: disappear 0ms $animation-time;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    transform-origin: top;
    i{
        animation: spin $animation-time linear;
    }
}
@keyframes disappear{
   to{
    transform: scale(0);
   } 
  
}
@keyframes spin{
    to{
        transform: rotate(360deg);
    }
}